.app {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  flex-direction: column;
}

.bell-container {
  text-align: center;
  cursor: pointer;
}

.bell {
  width: 150px;
  transition: transform 0.3s ease;
}

.bell.ring {
  animation: ringBell 1s ease;
}

@keyframes ringBell {
  0%   { transform: rotate(0); }
  25%  { transform: rotate(15deg); }
  50%  { transform: rotate(-15deg); }
  75%  { transform: rotate(10deg); }
  100% { transform: rotate(0); }
}

p {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}
